  <section class="pt-12 pb-8 md:py-16 px-4 bg-[#FDFDFD]/90 flex-grow">
    <div class="max-w-6xl mx-auto text-center">
      <h2 class="font-mplus text-2xl md:text-3xl font-bold mb-12 text-[#6BAFB9]/90">
        Fridge Noteの特徴
      </h2>
      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-gray-50 p-8 w-80 mx-auto sm:w-auto sm:mx-0 rounded-2xl shadow-md">
          <div class="mb-4 flex justify-center">
            <%= image_tag 'icon_067930_48.png', alt: "在庫管理", class: "w-8 h-auto md:w-auto" %>
          </div>
          <h3 class="font-mplus text-base md:text-xl font-bold mb-3">かんたん在庫管理</h3>
          <p class="font-mplus text-sm text-gray-600 leading-relaxed">
            買ったものをポチッと登録。<br>冷蔵庫の中身が一目瞭然。
          </p>
        </div>

        <div class="bg-gray-50 p-8 w-80 mx-auto sm:w-auto sm:mx-0 rounded-2xl shadow-md">
          <div class="mb-4 flex justify-center">
            <%= image_tag 'icon_036350_48.png', alt: "通知", class: "w-8 h-auto md:w-auto" %>
          </div>
          <h3 class="font-mplus text-base md:text-xl font-bold mb-3">うっかり防止通知</h3>
          <p class="font-mplus text-sm text-gray-600 leading-relaxed">
            賞味期限が近づくとお知らせ。<br>「気づいたら腐ってた」を防ぎます。
          </p>
        </div>

        <div class="bg-gray-50 p-8 w-80 mx-auto sm:w-auto sm:mx-0 rounded-2xl shadow-md">
          <div class="mb-4 flex justify-center">
            <%= image_tag 'icon_065630_48.png', alt: "使い切る", class: "w-8 h-auto md:w-auto" %>
          </div>
          <h3 class="font-mplus text-base md:text-xl font-bold mb-3">食品ロス削減</h3>
          <p class="font-mplus text-sm text-gray-600 leading-relaxed">
            食材を無駄なく使い切って<br>お財布にも地球にも優しく。
          </p>
        </div>
      </div>
    </div>
  </section>
</div>