<header class="sticky top-0 z-50 w-full bg-[#D6EFED]/95 backdrop-blur-sm border-b-4 border-[#6BAFB9]/90 shadow-sm font-montserrat text-[#2C5159]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full">
    <div class="flex justify-between items-center h-27">
      <div class="flex-shrink-0 flex items-center">
        <%= link_to root_path, class: "group flex items-center hover:opacity-70 transition-opacity" do %>
          <%= image_tag 'Fridge_Note_Logo.png', alt: "FridgeNoteロゴ", class: "w-20 h-25" %>
          <h1 class="text-xl md:text-3xl font-bold tracking-wide">
            Fridge <br>Note
          </h1>
        <% end %>
      </div>

      <div class="font-mplus flex items-center gap-4">
        <%= link_to "新規登録", new_user_registration_path, class: "text-lg font-bold inline-flex justify-center items-center bg-[#F4D35E]/90 text-[#2C5159] px-5 py-2.5 rounded-full shadow-md hover:shadow-lg hover:-translate-y-1 transition-all duration-300 text-lg" %>
        <%= link_to "ログイン", new_user_session_path, class: "font-mplus text-lg font-bold inline-flex justify-center items-center bg-[#FDFDFD]/90 text-[#2C5159] border-2 border-[#2C5159] px-5 py-2 rounded-full shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-300 text-lg" %>
      </div>
    </div>
  </div>
</header>
