<header class="sticky top-0 z-50 w-full bg-[#D6EFED]/95 backdrop-blur-sm border-b-4 border-[#6BAFB9]/90 shadow-sm font-montserrat text-[#2C5159]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full">
    <div class="flex justify-between items-center h-27">
      <div class="flex-shrink-0 flex items-center">
        <%= link_to root_path, class: "group flex items-center hover:opacity-70 transition-opacity" do %>
          <%= image_tag 'Fridge_Note_Logo.png', alt: "FridgeNoteロゴ", class: "w-20 h-25" %>
          <h1 class="text-xl md:text-3xl font-bold tracking-wide">
            Fridge <br>Note
          </h1>
        <% end %>
      </div>
    </div>
  </div>
</header>
