<div class="border-b-2 border-[#6BAFB9]/50 bg-white bg-opacity-90 backdrop-blur-sm shadow-sm rounded-lg p-4 max-w-md w-full font-mplus text-[#2C5159] pointer-events-auto">
  <p class="mb-2"><%= notification.message %></p>
</div>